<h2>Get to Know Me</h2>
<p>I’m a CS graduate based in Dąbrowa Górnicza in Poland, interested in UX/UI Design, Front-End Development and Database Administration. My current goal is to expand my knowledge in UX/UI design.</p>
<p>I’d love to further grow in this field and combine it with my creativity to create digital experiences that not only look great but also work seamlessly for the users. </p>
<p>Besides designing I enjoy drawing, photography, crocheting, reading and playing video games. Some of my hobbies let me express myself, while others help me explore new worlds that inspire me and fuel my imagination.</p>
<p><b>I believe that continuous learning and exploring other people’s ideas are the key to success and broadening one’s perspective.</b></p>