.hello{
    padding: 310px 350px 310px 0px;
    letter-spacing: 1%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1{
    font-family: 'Playfair_Display';
    font-weight: 900;
    font-size: 80px;
}

p{
    font-weight: 500;
    font-size: 34px;
}